* {
  margin: 5;
  font-size: 20px;
}
.headerDiv {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
}
.square {
  padding: 5px;
  height: 45px;
  width: 45px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.square-board {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  height: 500px;
  flex-direction: column;
}
.square-board-row {
  display: flex;
  flex-direction: row;
}
.wrong-position {
  background-color: orange;
}
.correct-position {
  background-color: green;
}
.is-visible {
  font-size: 1em;
  max-height: 20px;
  border: 1px solid black;
  
}